#FRONT
front/node_modules
front/build
front/.pnp
front/.pnp.js
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

#BACK
back/node_modules
back/build
back/*.log

# testing
front/coverage
back/.nyc_output

# misc
.DS_Store
*.pem

# debug
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
back/npm-debug.log*
back/yarn-debug.log*
back/yarn-error.log*

# local env files
front/.env.local
back/.env.local
